{{> menu id="about"}}

<section class="ui center aligned  segment">
  
  <div class="ui two column stackable grid">
    
    <div class="ui column" style="padding-top: 200px; font-size: 18px;">
  
      <h1 class="ui header">BMI Tracker</h1>

      <p class="ui cen">Fill in your assessments week by week and track your BMI. Trainers will comment on your progress and encourage you to keep going!</p>

    </div>
    
    <div class="ui column">

      <img src="https://cdn.glitch.com/cf728c21-a763-4fcd-9e99-bc7231a197e4%2Fseticon.jpg?v=1596724723499" alt="icons" width="100%">
      
    </div>

  </div>

</section>